<script>
import alert from '~/components/alert.vue'
import forgot from '~/queries/forget/forgot_password.gql'

export default {
  components: {
    alert,
  },
  layout: 'no_auth',
  data() {
    return {
      clearable: true,
      loading: false,
      valid: false,
      show: false,
      password: '',
      token: this.$route.query.change_password_token || undefined,
    }
  },
  head() {
    return {
      title: 'Change Password',
    }
  },
  computed: {
    confirm_password() {
      const rule = (v) => v === this.password || 'Invalid confirmation password'
      return [rule]
    },
  },
  methods: {
    async submit() {
      this.loading = true
      try {
        const { data } = await this.$apollo.mutate({
          mutation: forgot,
          variables: {
            token: this.token,
            password: this.password,
          },
        })

        if (data.forgot_password.error)
          throw new Error(data.forgot_password.error)
        if (data.forgot_password.intern_id) {
          this.$store.dispatch('alert/alert', {
            slug: 'login',
            error:
              'Password Successfully Changed! Please go back to  the Mobile app to login.',
          })
        }
        if (data.forgot_password.company_id) {
          this.$store.dispatch('alert/alert', {
            slug: 'change-password',
            error: 'Password Successfully Changed!',
          })

          this.$router.replace({ name: 'login' })
        }

        this.loading = false
      } catch (error) {
        this.loading = false
        this.$store.dispatch('alert/alert', {
          slug: 'change-password',
          error: error.message,
        })
      }
    },
  },
}
</script>

<template>
  <v-app dark class="grey lighten-4 mb-n15">
    <v-container fluid>
      <v-row justify="center" align="center" class="mt-15 mb-n15">
        <v-col cols="12" md="5">
          <v-card
            elevation="2"
            class="pa-10 rounded-card"
            color="grey lighten-5"
          >
            <v-card-text
              class="
                text-center
                display-2
                font-weight-bold
                mb-2
                mt-n9
                teal--text
              "
              >Change Password</v-card-text
            >
            <div class="mb-7 text-center">
              <nuxt-link
                class="teal--text text--darken-4"
                style="text-decoration: none"
                to="/registration"
                >Don't have an account? Register</nuxt-link
              >
            </div>
            <alert
              :key="currentAlert.slug"
              :alert="currentAlert"
              slug="app-alert-login"
              class="mt-3 mb-3"
            />
            <v-form v-model="valid" @submit.prevent="submit">
              <v-text-field
                v-model="password"
                label="New Password"
                :rules="rules.required.concat(rules.password_length)"
                :clearable="clearable"
                outlined
                color="teal"
                placeholder="Enter your new password"
                elevation="0"
                :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                :type="show ? 'text' : 'password'"
                prepend-inner-icon="mdi-lock-question"
                clear-icon="mdi-close-box-multiple-outline"
                class="mt-2"
                @click:append="show = !show"
              ></v-text-field>
              <v-text-field
                label="Confirm Password"
                :rules="rules.required.concat(confirm_password)"
                :clearable="clearable"
                outlined
                color="teal"
                placeholder="Confirm your new password"
                elevation="0"
                :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                :type="show ? 'text' : 'password'"
                prepend-inner-icon="mdi-lock-question"
                clear-icon="mdi-close-box-multiple-outline"
                class="mt-2"
                @click:append="show = !show"
              ></v-text-field>
              <v-btn
                raised
                large
                rounded
                :loading="loading"
                block
                type="submit"
                color="teal"
                class="white--text font-weight-regular medium mt-4"
                :disabled="!valid"
                >Change
              </v-btn>

              <div class="mt-6 text-right">
                <nuxt-link
                  class="teal--text text--darken-4 text-right"
                  style="text-decoration: none"
                  to="/login"
                  >Do you remember password? Login</nuxt-link
                >
              </div>
            </v-form>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-app>
</template>

<style scoped>
.rounded-card {
  border-radius: 5% !important;
}
</style>
