<script>
import alert from '~/components/alert.vue'
import searchCompany from '~/queries/forget/searchCompany.gql'
import reset from '~/queries/forget/reset.gql'

export default {
  components: {
    alert,
  },
  layout: 'no_auth',
  data() {
    return {
      clearable: true,
      loading: false,
      valid: false,
      show: false,
      email: '',
    }
  },
  head() {
    return {
      title: 'Reset Password',
    }
  },
  methods: {
    async submit() {
      this.loading = true
      try {
        const { data } = await this.$apollo.query({
          query: searchCompany,
          variables: {
            email: this.email.toLowerCase(),
          },
          fetchPolicy: 'no-cache',
        })

        if (!data.company.length) throw new Error('User is not found!')
        if (!data.company[0].active)
          throw new Error('User is not activated check your email!')

        const { data: result } = await this.$apollo.mutate({
          mutation: reset,
          variables: {
            email: this.email.toLowerCase(),
            name: data.company[0].name,
            id: data.company[0].company_id,
            role: 'company',
          },
        })

        if (result.reset.accepted) {
          this.$store.dispatch('alert/alert', {
            slug: 'reset',
            error: 'Password Reset email sent! Check your email.',
          })
        } else throw new Error(result.reset.error)

        this.$router.replace({ name: 'login' })
        this.loading = false
      } catch (error) {
        this.loading = false
        this.$store.dispatch('alert/alert', {
          slug: 'reset',
          error: error.message,
        })
      }
    },
  },
}
</script>

<template>
  <v-app dark class="grey lighten-4 mb-n15">
    <v-container fluid>
      <v-row justify="center" class="mt-16 mb-n15">
        <v-col cols="12" md="5" class="mt-10" align-self="center">
          <v-card
            elevation="2"
            class="pa-10 rounded-card"
            color="grey lighten-5"
          >
            <v-card-text
              class="
                text-center
                display-2
                font-weight-bold
                mb-2
                mt-n9
                teal--text
              "
              >Reset Password</v-card-text
            >
            <div class="mb-7 text-center">
              <p class="teal--text text--darken-4">
                Enter your email to send you password reset email!
              </p>
            </div>

            <v-form v-model="valid" @submit.prevent="submit">
              <alert
                :key="currentAlert.slug"
                :alert="currentAlert"
                slug="app-alert-reset"
                class="mt-3 mb-3"
              />

              <v-text-field
                v-model="email"
                :rules="rules.required"
                label="Email"
                placeholder="Enter your email"
                :clearable="clearable"
                outlined
                color="teal"
                type="email"
                autofocus
                elevation="0"
                clear-icon="mdi-close-box-multiple-outline"
                prepend-inner-icon="mdi-account-outline"
                class="black--text"
              ></v-text-field>
              <v-btn
                raised
                large
                rounded
                :loading="loading"
                block
                type="submit"
                color="teal"
                class="white--text font-weight-regular medium mt-4"
                :disabled="!valid"
                >Search
              </v-btn>

              <div class="mt-6 text-right">
                <nuxt-link
                  class="teal--text text--darken-4 text-right"
                  style="text-decoration: none"
                  to="/registration"
                  >Don't have an account? Register</nuxt-link
                >
              </div>
            </v-form>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-app>
</template>

<style scoped>
.rounded-card {
  border-radius: 5% !important;
}
</style>
