<template>
  <singleItem :item="post" />
</template>

<script>
export default {
  layout: 'company',
  data() {
    return {}
  },
  computed: {
    post() {
      return 'dummy'
    },
  },
}
</script>
