<script>
import alert from '~/components/alert'
import confirmEmail from '~/queries/registration/confirmEmail.gql'
import changeEmailConfirm from '~/queries/changeEmailConfirm.gql'

export default {
  components: {
    alert,
  },
  layout: 'no_auth',
  data() {
    return {
      loading: false,
      email_confirmation_token:
        this.$route.query.confirm_email_token || undefined,
      change_email_confirmation_token:
        this.$route.query.change_email_confirm_token || undefined,
    }
  },
  head() {
    return {
      title: 'Confirm Email',
    }
  },
  created() {
    if (this.change_email_confirmation_token || this.email_confirmation_token) {
      this.submit()
    }
  },
  methods: {
    async submit() {
      this.loading = true
      let name

      try {
        if (this.email_confirmation_token) {
          const { data } = await this.$apollo.mutate({
            mutation: confirmEmail,
            variables: {
              email_confirmation_token: this.email_confirmation_token,
            },
          })

          name = data.confirm_email.name
        }
        if (this.change_email_confirmation_token) {
          const { data } = await this.$apollo.mutate({
            mutation: changeEmailConfirm,
            variables: {
              change_email_confirmation_token:
                this.change_email_confirmation_token,
            },
          })

          name = data.change_email_confirm.name
        }

        this.$store.dispatch('alert/alert', {
          slug: 'global',
          error: 'Email Successfully Confirmed!',
        })

        this.$router.replace({
          name: 'login',
          query: {
            name,
          },
        })

        this.loading = false
      } catch (error) {
        this.loading = false

        this.$store.dispatch('alert/alert', {
          slug: 'global',
          error,
          type: 'error',
        })
      }
    },
  },
}
</script>
<template>
  <v-row justify="center" align="center" class="mt-15">
    <v-col cols="12" md="5">
      <v-card elevation="2" class="pa-10 rounded-card" color="grey lighten-5">
        <alert
          :key="currentAlert.slug"
          :alert="currentAlert"
          slug="app-alert-email-confirmation"
        />
        <v-img height="250" src="/confirmEmail.png"></v-img>

        <div class="text-center">
          <v-progress-circular
            :size="70"
            :width="7"
            color="teal"
            indeterminate
          ></v-progress-circular>
        </div>

        <v-card-text class="text-center text-h6 font-weight-bold teal--text"
          >Email confirmation in progress...</v-card-text
        >
      </v-card>
    </v-col>
  </v-row>
</template>

<style scoped>
.rounded-card {
  border-radius: 5% !important;
}
</style>
