<script>
import alert from '~/components/alert.vue'
import signup from '~/queries/registration/signup.gql'

export default {
  components: {
    alert,
  },
  layout: 'no_auth',
  data() {
    return {
      e1: 1,
      clearable: true,
      valid: false,
      loading: false,
      show: false,
      basic: {},
      address: {},
      items: [
        'Addis Ababa',
        'Afar Region',
        'Amhara Region',
        'Benishangul-Gumuz Region',
        'Dire Dawa',
        'Gambela Region',
        'Harari Region',
        'Oromia Region',
        'Sidama Region',
        'Somali Region',
        'SNNPR',
        'Tigray Region',
      ],
    }
  },
  head() {
    return {
      title: 'Sign up',
    }
  },
  computed: {
    confirm_password() {
      const rule = (v) =>
        v === this.basic.password || 'Invalid confirmation password'
      return [rule]
    },
  },
  watch: {
    steps(val) {
      if (this.e1 > val) {
        this.e1 = val
      }
    },
  },
  methods: {
    async submit() {
      this.loading = true

      const basic = JSON.parse(JSON.stringify(this.basic))

      const address = JSON.parse(JSON.stringify(this.address))

      basic.phone_no = `+251${basic.phone_no}`

      try {
        const { data } = await this.$apollo.mutate({
          mutation: signup,
          variables: {
            ...basic,
            ...address,
          },
        })

        this.loading = false

        if (data.signup_company.error)
          throw new Error(data.signup_company.error)

        this.$router.push({
          name: 'login',
          query: {
            email: this.basic.email,
          },
        })
      } catch (error) {
        this.loading = false
        this.$store.dispatch('alert/alert', {
          slug: 'signup',
          error: error.message,
        })
      }
    },
  },
}
</script>
<template>
  <v-app dark class="grey lighten-4 mb-n5">
    <v-container fluid>
      <v-row justify="center" align="center" class="mt-4 mb-7">
        <v-col cols="12" md="5">
          <v-card
            elevation="2"
            class="pa-10 rounded-card"
            color="grey lighten-5"
          >
            <alert slug="app-alert-signup" class="mt-3 mb-3" />
            <v-card-text
              class="
                text-center
                display-3
                font-weight-bold
                mb-2
                mt-n9
                teal--text
              "
              >Sign up</v-card-text
            >
            <div class="mb-7 text-center">
              <nuxt-link
                class="teal--text text--darken-4"
                style="text-decoration: none"
                to="/login"
                >Already registered? Login</nuxt-link
              >
            </div>
            <v-stepper v-model="e1" flat>
              <v-stepper-header>
                <template v-for="n in 2">
                  <v-stepper-step
                    :key="`${n}-step`"
                    :complete="e1 > n"
                    :step="n"
                    editable
                    color="teal"
                  >
                    {{ n === 1 ? 'Basic Information' : 'Address' }}
                  </v-stepper-step>

                  <v-divider v-if="n !== 2" :key="n" color="teal"></v-divider>
                </template>
              </v-stepper-header>
              <v-stepper-items>
                <v-form v-model="valid" @submit.prevent="submit">
                  <v-stepper-content
                    v-for="n in 2"
                    :key="`${n}-content`"
                    :step="n"
                  >
                    <div v-if="n === 1">
                      <v-text-field
                        v-model="basic.name"
                        :rules="rules.required"
                        label="Company name"
                        placeholder="Enter the company name"
                        :clearable="clearable"
                        outlined
                        color="teal"
                        type="text"
                        autofocus
                        elevation="0"
                        clear-icon="mdi-close-box-multiple-outline"
                        prepend-inner-icon="mdi-account-outline"
                        class="black--text mt-2"
                      ></v-text-field>
                      <v-text-field
                        v-model="basic.email"
                        :rules="rules.required.concat(rules.email)"
                        label="Email"
                        placeholder="Enter company email"
                        :clearable="clearable"
                        outlined
                        color="teal"
                        type="email"
                        elevation="0"
                        clear-icon="mdi-close-box-multiple-outline"
                        prepend-inner-icon="mdi-email-outline"
                        class="black--text"
                      ></v-text-field>
                      <v-text-field
                        v-model="basic.phone_no"
                        :rules="rules.required.concat(rules.number)"
                        label="Phone number"
                        placeholder="Enter company phone number"
                        :clearable="clearable"
                        outlined
                        prefix="+251"
                        hint="hint - 987652874"
                        color="teal"
                        type="text"
                        elevation="0"
                        clear-icon="mdi-close-box-multiple-outline"
                        prepend-inner-icon="mdi-phone-outline"
                        class="black--text"
                      ></v-text-field>
                      <v-text-field
                        v-model="basic.area_of_expertise"
                        :rules="rules.required"
                        label="Areas of Expertise"
                        placeholder="Enter company areas of expertise"
                        :clearable="clearable"
                        outlined
                        color="teal"
                        type="text"
                        elevation="0"
                        clear-icon="mdi-close-box-multiple-outline"
                        prepend-inner-icon="mdi-briefcase-outline"
                        class="black--text"
                      ></v-text-field>
                      <v-text-field
                        v-model="basic.password"
                        label="Password"
                        :rules="rules.required.concat(rules.password_length)"
                        :clearable="clearable"
                        outlined
                        color="teal"
                        placeholder="Enter your password"
                        elevation="0"
                        :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                        :type="show ? 'text' : 'password'"
                        prepend-inner-icon="mdi-lock-question"
                        clear-icon="mdi-close-box-multiple-outline"
                        class="mt-2"
                        @click:append="show = !show"
                      ></v-text-field>
                      <v-text-field
                        label="Confirm Password"
                        :rules="rules.required.concat(confirm_password)"
                        :clearable="clearable"
                        outlined
                        color="teal"
                        placeholder="Confirm your password"
                        elevation="0"
                        :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
                        :type="show ? 'text' : 'password'"
                        prepend-inner-icon="mdi-lock-question"
                        clear-icon="mdi-close-box-multiple-outline"
                        class="mt-2"
                        @click:append="show = !show"
                      ></v-text-field>
                    </div>

                    <div v-else>
                      <v-row>
                        <v-col cols="12" md="6">
                          <v-select
                            v-model="address.region"
                            :rules="rules.required"
                            :items="items"
                            prepend-inner-icon="mdi-city"
                            label="Select Region or City Adminstration"
                            color="teal"
                            outlined
                            single-line
                            class="mt-2"
                          ></v-select>
                        </v-col>
                        <v-col cols="12" md="6">
                          <v-text-field
                            v-model="address.zone"
                            label="Zone"
                            placeholder="Enter Zone name"
                            :clearable="clearable"
                            outlined
                            color="teal"
                            type="text"
                            elevation="0"
                            clear-icon="mdi-close-box-multiple-outline"
                            prepend-inner-icon="mdi-map-marker"
                            class="black--text mt-2"
                          ></v-text-field>
                        </v-col>
                        <v-col cols="12" md="6">
                          <v-text-field
                            v-model="address.woreda"
                            :rules="rules.required"
                            label="Woreda"
                            placeholder="Enter Woreda name"
                            :clearable="clearable"
                            outlined
                            color="teal"
                            type="text"
                            elevation="0"
                            clear-icon="mdi-close-box-multiple-outline"
                            prepend-inner-icon="mdi-map-marker"
                            class="black--text"
                          ></v-text-field>
                        </v-col>
                        <v-col cols="12" md="6">
                          <v-text-field
                            v-model="address.city"
                            :rules="rules.required"
                            label="City"
                            placeholder="Enter City name"
                            :clearable="clearable"
                            outlined
                            color="teal"
                            type="text"
                            elevation="0"
                            clear-icon="mdi-close-box-multiple-outline"
                            prepend-inner-icon="mdi-map-marker"
                            class="black--text"
                          ></v-text-field>
                        </v-col>
                        <v-col cols="12" md="6">
                          <v-text-field
                            v-model="address.subcity"
                            label="Sub city"
                            placeholder="Enter Subcity name"
                            :clearable="clearable"
                            outlined
                            color="teal"
                            type="text"
                            elevation="0"
                            clear-icon="mdi-close-box-multiple-outline"
                            prepend-inner-icon="mdi-map-marker"
                            class="black--text"
                          ></v-text-field>
                        </v-col>
                        <v-col cols="12" md="6">
                          <v-text-field
                            v-model="address.kebele"
                            label="Kebele"
                            placeholder="Enter Kebele name"
                            :clearable="clearable"
                            outlined
                            color="teal"
                            type="text"
                            elevation="0"
                            clear-icon="mdi-close-box-multiple-outline"
                            prepend-inner-icon="mdi-map-marker"
                            class="black--text"
                          ></v-text-field>
                        </v-col>
                      </v-row>
                    </div>
                    <v-btn
                      raised
                      large
                      rounded
                      :loading="loading"
                      block
                      type="submit"
                      color="teal"
                      class="white--text font-weight-regular medium mt-4"
                      :disabled="!valid"
                      >Sign up
                    </v-btn>
                  </v-stepper-content>
                </v-form>
              </v-stepper-items>
            </v-stepper>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-app>
</template>

<style scoped>
.rounded-card {
  border-radius: 4% !important;
}
</style>
