<template>
  <v-layout column>
    <v-flex xs12 sm8 md6>
      <v-container class="mt-5">
        <v-row>
          <p class="text-h3 darktext--text">Your Posts</p>
        </v-row>
      </v-container>

      <v-row class="mx-0" justify="center">
        <v-col class="d-flex align-center darktext--text mb-4" cols="3">
          <div>Showing 44 of 88 results</div>
        </v-col>
        <v-col cols="5">
          <!-- v-model="select"
            :loading="loading"
            :items="movies"
          :search-input.sync="search"-->
          <v-autocomplete
            class="white"
            placeholder="search companies"
            prepend-inner-icon="mdi-movie-roll"
            item-text="title"
            item-value="id"
            hide-no-data
            hide-details
            rounded
            outlined
            dense
            color="main"
            flat
            style="width: 400px"
          >
            <!-- <template v-slot:item="data">
              <v-list class="ma-0" dense v-for="mov in data" :key="mov.id">
                <v-list-item @click="singleMovie(mov.id, mov.published)">

                  <v-list-item-content>
                    <v-list-item-title v-html="mov.title"></v-list-item-title>
                    <v-list-item-subtitle
                      v-html="mov.genre"
                    ></v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
              </v-list>
            </template>-->
          </v-autocomplete>
        </v-col>
        <v-col cols="3">
          <v-select solo-inverted dense label="Sort By" flat />
        </v-col>
        <v-col>
          <v-btn icon>
            <v-icon>mdi-plus</v-icon>
          </v-btn>
        </v-col>
      </v-row>
      <v-divider class="mb-10" inset />

      <v-row>
        <v-col cols="12" md="4">
          <v-hover v-slot="{ hover }">
            <v-card class="mx-auto" max-width="300" :elevation="hover ? 10 : 2">
              <v-img src="/angtovue.png" height="150px" />

              <v-card-title class="text-capitalize"
                >Angular & Vue JS</v-card-title
              >
              <v-card-text>
                <v-row align="center" class="mx-0">
                  <v-rating
                    :value="4.5"
                    background-color="grey"
                    color="yellow accent-4"
                    dense
                    half-increments
                    readonly
                    size="18"
                  />
                  <span class="grey--text caption mr-2">(4.5)</span>
                  <v-spacer />
                  <!-- <v-btn icon x-small class="mr-1">
                  <v-icon>mdi-alarm</v-icon>
                  </v-btn>-->
                  <v-hover v-slot="{ hover }">
                    <v-btn icon x-small>
                      <v-icon v-if="!hover">mdi-heart-outline</v-icon>
                      <v-icon v-if="hover" color="pink">mdi-heart</v-icon>
                    </v-btn>
                  </v-hover>

                  <v-btn icon x-small>
                    <v-icon>mdi-bell-outline</v-icon>
                  </v-btn>
                </v-row>
              </v-card-text>
              <v-card-subtitle class="pb-0 text-capitalize">
                <v-icon color="main" class="mr-3" size="20"
                  >mdi-account-multiple</v-icon
                >samir abdullahi, ...
              </v-card-subtitle>
              <v-card-subtitle class="pt-0 text-capitalize">
                <v-icon color="main" class="mr-3" size="20"
                  >mdi-movie-open-edit</v-icon
                >Abera wako
              </v-card-subtitle>
              <v-row align="center" class="mx-0 pt-2 pb-3 px-4">
                <!-- <v-card-subtitle class="pt-0"> -->
                <v-icon color="main" class="mr-3" size="20">mdi-theater</v-icon>
                <div class="grey--text text-capitalize">Kuraz Tech</div>

                <v-spacer />

                <div>
                  <v-icon color="main" class="mr-1" size="20"
                    >mdi-calendar-month</v-icon
                  >jun 8 2020
                </div>
                <!-- <div v-else>
                <v-chip color="main">Coming Soon</v-chip>
                </div>-->
              </v-row>
            </v-card>
          </v-hover>
        </v-col>
        <v-col cols="12" md="4">
          <v-hover v-slot="{ hover }">
            <v-card class="mx-auto" max-width="300" :elevation="hover ? 10 : 2">
              <v-img src="/backend.jpg" height="150px" />

              <v-card-title class="text-capitalize"
                >Angular & Vue JS</v-card-title
              >
              <v-card-text>
                <v-row align="center" class="mx-0">
                  <v-rating
                    :value="4.5"
                    background-color="grey"
                    color="yellow accent-4"
                    dense
                    half-increments
                    readonly
                    size="18"
                  />
                  <span class="grey--text caption mr-2">(4.5)</span>
                  <v-spacer />
                  <!-- <v-btn icon x-small class="mr-1">
                  <v-icon>mdi-alarm</v-icon>
                  </v-btn>-->
                  <v-hover v-slot="{ hover }">
                    <v-btn icon x-small>
                      <v-icon v-if="!hover">mdi-heart-outline</v-icon>
                      <v-icon v-if="hover" color="pink">mdi-heart</v-icon>
                    </v-btn>
                  </v-hover>

                  <v-btn icon x-small>
                    <v-icon>mdi-bell-outline</v-icon>
                  </v-btn>
                </v-row>
              </v-card-text>
              <v-card-subtitle class="pb-0 text-capitalize">
                <v-icon color="main" class="mr-3" size="20"
                  >mdi-account-multiple</v-icon
                >samir abdullahi, ...
              </v-card-subtitle>
              <v-card-subtitle class="pt-0 text-capitalize">
                <v-icon color="main" class="mr-3" size="20"
                  >mdi-movie-open-edit</v-icon
                >Abera wako
              </v-card-subtitle>
              <v-row align="center" class="mx-0 pt-2 pb-3 px-4">
                <!-- <v-card-subtitle class="pt-0"> -->
                <v-icon color="main" class="mr-3" size="20">mdi-theater</v-icon>
                <div class="grey--text text-capitalize">Kuraz Tech</div>

                <v-spacer />

                <div>
                  <v-icon color="main" class="mr-1" size="20"
                    >mdi-calendar-month</v-icon
                  >jun 8 2020
                </div>
                <!-- <div v-else>
                <v-chip color="main">Coming Soon</v-chip>
                </div>-->
              </v-row>
            </v-card>
          </v-hover>
        </v-col>
        <v-col cols="12" md="4">
          <v-hover v-slot="{ hover }">
            <v-card class="mx-auto" max-width="300" :elevation="hover ? 10 : 2">
              <v-img src="/frontend.jpeg" height="150px" />

              <v-card-title class="text-capitalize"
                >Angular & Vue JS</v-card-title
              >
              <v-card-text>
                <v-row align="center" class="mx-0">
                  <v-rating
                    :value="4.5"
                    background-color="grey"
                    color="yellow accent-4"
                    dense
                    half-increments
                    readonly
                    size="18"
                  />
                  <span class="grey--text caption mr-2">(4.5)</span>
                  <v-spacer />
                  <!-- <v-btn icon x-small class="mr-1">
                  <v-icon>mdi-alarm</v-icon>
                  </v-btn>-->
                  <v-hover v-slot="{ hover }">
                    <v-btn icon x-small>
                      <v-icon v-if="!hover">mdi-heart-outline</v-icon>
                      <v-icon v-if="hover" color="pink">mdi-heart</v-icon>
                    </v-btn>
                  </v-hover>

                  <v-btn icon x-small>
                    <v-icon>mdi-bell-outline</v-icon>
                  </v-btn>
                </v-row>
              </v-card-text>
              <v-card-subtitle class="pb-0 text-capitalize">
                <v-icon color="main" class="mr-3" size="20"
                  >mdi-account-multiple</v-icon
                >samir abdullahi, ...
              </v-card-subtitle>
              <v-card-subtitle class="pt-0 text-capitalize">
                <v-icon color="main" class="mr-3" size="20"
                  >mdi-movie-open-edit</v-icon
                >Abera wako
              </v-card-subtitle>
              <v-row align="center" class="mx-0 pt-2 pb-3 px-4">
                <!-- <v-card-subtitle class="pt-0"> -->
                <v-icon color="main" class="mr-3" size="20">mdi-theater</v-icon>
                <div class="grey--text text-capitalize">Kuraz Tech</div>

                <v-spacer />

                <div>
                  <v-icon color="main" class="mr-1" size="20"
                    >mdi-calendar-month</v-icon
                  >jun 8 2020
                </div>
                <!-- <div v-else>
                <v-chip color="main">Coming Soon</v-chip>
                </div>-->
              </v-row>
            </v-card>
          </v-hover>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-0 my-8" justify="center">
        <v-pagination v-model="page" color="main" :length="pages" circle />
      </v-row>
      <v-tooltip left>
        <template #activator="{ on, attrs }">
          <v-btn
            fab
            dark
            large
            class="mr-9 mt-9"
            v-bind="attrs"
            color="main"
            fixed
            right
            bottom
            v-on="on"
            @click.stop="createDialog = true"
          >
            <v-icon>mdi-plus</v-icon>
          </v-btn>
        </template>
        <span>Add New Post</span>
      </v-tooltip>
      <v-dialog
        v-model="createDialog"
        persistent
        :retain-focus="false"
        max-width="400"
      >
        <v-card>
          <v-card-title>Edit Your Connection</v-card-title>

          <v-card-text>
            <v-text-field
              v-model="subject"
              dense
              prepend-inner-icon="mdi-linkedin"
              color="main"
              outlined
              filled
              label="linkedin"
              class="mt-3"
              placeholder="linkedin"
            />
            <v-text-field
              v-model="subject"
              dense
              prepend-inner-icon="mdi-github"
              color="main"
              outlined
              filled
              label="github/gitlab"
              class="mt-3"
              placeholder="github/gitlab"
            />
            <v-text-field
              v-model="subject"
              dense
              prepend-inner-icon="mdi-twitter"
              color="main"
              outlined
              filled
              label="google"
              class="mt-3"
              placeholder="google"
            />
          </v-card-text>
          <v-card-actions>
            <v-spacer />
            <v-btn color="red" text @click="createDialog = !createDialog"
              >Cancel</v-btn
            >
            <v-btn depressed class="transparent cyan--text">
              Update
              <v-icon class="ml-2">mdi-update</v-icon>
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  layout: 'company',
  data() {
    return {
      createDialog: false,
      page: 1,
      pages: 4,
    }
  },
}
</script>
