<template>
  <v-container class="mt-5">
    <v-row>
      <v-col cols="12" md="7">
        <v-card class="rounded-xl mb-6" color="white" flat>
          <v-list two-line color="white">
            <!-- <v-list-item-group
        v-model="selected"
        active-class="teal--text"
        multiple
            >-->
            <!-- <template v-for="(item, index) in items"> -->
            <v-list-item>
              <!-- <template v-slot:default="{ active }"> -->
              <v-list-item-avatar
                style="cursor: pointer"
                @click.stop="goToProfile"
              >
                <v-img src="/habel.png"></v-img>
              </v-list-item-avatar>
              <v-list-item-content>
                <v-hover v-slot="{ hover }">
                  <v-list-item-title
                    :class="`font-weight-medium ${
                      hover ? 'text-decoration-underline' : ''
                    }`"
                    style="cursor: pointer"
                    @click="goToProfile"
                    >Tibebemelcot kassahun</v-list-item-title
                  >
                </v-hover>

                <v-list-item-subtitle class="text--text"
                  >Applied for Vue Junior Internship</v-list-item-subtitle
                >

                <!-- <v-list-item-subtitle class="mt-4">
                  <v-btn>confirm</v-btn>
                </v-list-item-subtitle>-->
                <!-- <v-btn>confirm</v-btn> -->
              </v-list-item-content>

              <v-list-item-action>
                <v-list-item-action-text class="mt-n7">{{
                  new Date().toDateString()
                }}</v-list-item-action-text>

                <!-- <v-icon v-if="!active" color="grey lighten-1"
                  >mdi-star-outline</v-icon
                >

                <v-icon v-else color="yellow darken-3">mdi-star</v-icon>-->
              </v-list-item-action>
              <!-- </template> -->
            </v-list-item>

            <!-- <v-divider
            v-if="index < items.length - 1"
            :key="index"
            ></v-divider>-->
            <!-- </template> -->
            <!-- </v-list-item-group> -->
          </v-list>
          <v-row class="text-center">
            <v-col>
              <v-btn outlined color="main" depressed class="mr-3"
                >confirm</v-btn
              >
              <v-btn outlined color="pink" depressed>decline</v-btn>
            </v-col>
          </v-row>
        </v-card>

        <v-card class="rounded-xl" color="white" flat>
          <v-list two-line color="white">
            <!-- <v-list-item-group
        v-model="selected"
        active-class="teal--text"
        multiple
            >-->
            <!-- <template v-for="(item, index) in items"> -->
            <v-list-item>
              <!-- <template v-slot:default="{ active }"> -->
              <v-list-item-avatar>
                <v-img src="/habel.png"></v-img>
              </v-list-item-avatar>
              <v-list-item-content>
                <v-list-item-title class="font-weight-medium text-underline"
                  >Tibebemelcot kassahun</v-list-item-title
                >

                <v-list-item-subtitle class="text--text"
                  >Applied for Vue Junior Internship</v-list-item-subtitle
                >

                <!-- <v-list-item-subtitle class="mt-4">
                  <v-btn>confirm</v-btn>
                </v-list-item-subtitle>-->
                <!-- <v-btn>confirm</v-btn> -->
              </v-list-item-content>

              <v-list-item-action>
                <v-list-item-action-text class="mt-n7">{{
                  new Date().toDateString()
                }}</v-list-item-action-text>

                <!-- <v-icon v-if="!active" color="grey lighten-1"
                  >mdi-star-outline</v-icon
                >

                <v-icon v-else color="yellow darken-3">mdi-star</v-icon>-->
              </v-list-item-action>
              <!-- </template> -->
            </v-list-item>

            <!-- <v-divider
            v-if="index < items.length - 1"
            :key="index"
            ></v-divider>-->
            <!-- </template> -->
            <!-- </v-list-item-group> -->
          </v-list>
          <v-row class="text-center">
            <v-col>
              <v-btn outlined color="main" depressed class="mr-3"
                >confirm</v-btn
              >
              <v-btn outlined color="pink" depressed>decline</v-btn>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
      <v-col cols="1"></v-col>
      <v-col cols="12" md="4">
        <div class="text-h5 mb-3 text--text font-weight-medium">
          Recently Approved
        </div>

        <v-list three-line class="rounded-xl">
          <!-- <template v-for="(item, index) in items"> -->

          <v-list-item>
            <v-list-item-avatar>
              <v-img src="/habel.png"></v-img>
            </v-list-item-avatar>

            <v-list-item-content>
              <v-list-item-title>Tibebemelcot Kassahun</v-list-item-title>
              <v-list-item-subtitle>0931234567</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
          <!-- </template> -->
        </v-list>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  layout: 'company',
  data() {
    return {
      baseUrl: process.env.BASE_URL,
      dialog: false,
      user: {},
      subject: '',
      message: '',
      colour: '',
      text: '',
      snackbar: false,
    }
  },
  methods: {
    goToProfile() {
      this.$router.push('/app/review_application/intern_detail/38392938')
    },
  },
}
</script>
