<template>
  <div>
    <div style="display: block">
      <v-container>
        <v-row>
          <v-col cols="12" md="6" sm="12">
            <v-img
              height="330"
              src="/backend.jpg"
              style="border-radius: 10px"
            />
            <!-- <v-carousel cycle height="330" hide-delimiter-background show-arrows-on-hover>
              <v-carousel-item
                v-for="(pic, i) in item.imagesByMovieid"
                :key="i"
                src="/backend.jpg"
              ></v-carousel-item>
            </v-carousel>-->
          </v-col>
          <v-col cols="12" md="6" sm="12">
            <div class="text-h3">
              <p class="text-capitalize">
                Backend Developer
                <!-- <v-icon>mdi-dots-vertical</v-icon> -->
                <v-menu offset-y>
                  <template #activator="{ on: menu, attrs }">
                    <v-tooltip bottom>
                      <template #activator="{ on: tooltip }">
                        <v-icon
                          color="main"
                          size="40"
                          dark
                          v-bind="attrs"
                          v-on="{ ...tooltip, ...menu }"
                          >mdi-dots-vertical</v-icon
                        >
                      </template>
                      <span>Edit Options</span>
                    </v-tooltip>
                  </template>
                  <v-list>
                    <v-list-item v-for="(item, index) in items" :key="index">
                      <!-- <v-list-item-icon
                        ><v-icon>mdi-pencil-outline</v-icon></v-list-item-icon
                      >-->
                      <v-list-item-title>{{ item.title }}</v-list-item-title>
                    </v-list-item>
                  </v-list>
                </v-menu>
              </p>
            </div>
            <div>
              <!-- <v-dialog v-model="dialog" max-width="400px">
                <v-card>
                  <v-card-title v-if="selectedActor.type === 'directors'">
                    {{
                    selectedActor.title
                    }}
                  </v-card-title>
                  <v-card-title v-if="selectedActor.type === 'actor'">
                    {{
                    selectedActor.title
                    }}
                  </v-card-title>
                  <v-card-text>
                    <P>
                      Rate
                      <span v-if="selectedActor.type === 'actor'">this actor</span>
                      <span v-else>this director</span>
                    </P>
                    <v-rating
                      v-model="ratingP"
                      background-color="grey"
                      color="yellow accent-4"
                      dense
                      half-increments
                      hover
                      size="28"
                      @input="ratePerson"
                    ></v-rating>
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn text color="red" @click="dialog = false">Cancel</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>-->
              <p>
                <v-icon color="main" class="mr-3"
                  >mdi-calendar-month-outline</v-icon
                >jun 18 2021
              </p>
              <div>
                <p>
                  <v-rating
                    :value="4.5"
                    background-color="grey"
                    color="yellow accent-4"
                    dense
                    half-increments
                    readonly
                    size="18"
                  />
                  <span class="grey--text caption mr-2">(4.5)</span>
                </p>
              </div>
              <P class="grey--text" style="cursor: pointer">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into
                electronic typesetting, remaining essentially unchanged. It was
                popularised in the 1960s with the release of Letraset sheets
                containing Lorem Ipsum passages, and more recently with desktop
                publishing software like Aldus PageMaker including versions of
                Lorem Ipsum
              </P>

              <!-- <p>
                <v-icon color="primary" class="mr-3">mdi-play-box-outline</v-icon>
                {{ item.movieLength }}hrs
              </p>-->
              <!-- <p class="text-capitalize">
                <v-icon color="primary" class="mr-3">mdi-ev-plug-type2</v-icon>
                {{ item.genre }}
              </p>-->
              <!-- <p style="cursor:pointer" @click="onCinema">
                <v-icon color="primary" class="mr-3">mdi-theater</v-icon>
                {{ item.cinema.name }}
                <v-dialog v-model="cinemaDialog" max-width="600px">
                  <v-card>
                    <v-card-title>{{ item.cinema.name }}</v-card-title>
                    <v-card-text>
                      <v-row>
                        <v-col cols="12" md="6">
                          <v-img height="150" :src="require('~/assets/img/prisonbreak.jpg')"></v-img>
                        </v-col>
                        <v-col>
                          <div>
                            <p>
                              <v-icon color="primary" class="mr-2">mdi-theater</v-icon>
                              {{ item.cinema.name }}
                            </p>
                            <p>
                              <v-icon color="primary" class="mr-2">mdi-counter</v-icon>300
                            </p>
                            <p>
                              <v-icon color="primary" class="mr-2">mdi-map-marker</v-icon>
                              {{ item.cinema.address }}
                            </p>
                            <p>
                              <v-rating
                                :value="item.cinema.rating"
                                background-color="grey"
                                color="yellow accent-4"
                                dense
                                half-increments
                                readonly
                                size="18"
                              ></v-rating>
                              <span class="grey--text caption">({{ item.cinema.rating }})</span>
                            </p>
                          </div>
                        </v-col>
                      </v-row>
                      <P class="mt-3 mb-0">Rate this Cinema</P>
                      <v-rating
                        v-model="ratingC"
                        background-color="grey"
                        color="yellow accent-4"
                        dense
                        half-increments
                        hover
                        size="28"
                        @input="rateCinema"
                      ></v-rating>

                      <v-row
                        v-for="review in item.cinema.cinema_comments"
                        :key="review.id"
                        align="center"
                        class="my-10 mx-0 pa-3"
                      >
                        <v-col cols="12">
                          By:
                          <span class="ml-2 font-weight-bold">{{ review.user.username }}</span>

                          <v-icon size="20" color="primary" class="ml-10 mr-3">mdi-clock-outline</v-icon>
                          <span class="grey--text">
                            {{
                            new Date(review.created_at)
                            .toISOString()
                            .substr(0, 10)
                            }}
                          </span>
                        </v-col>
                        <v-col cols="12" class="ml-3">{{ review.comment }}</v-col>
                      </v-row>

                      <v-row>
                        <v-col cols="12" md="6">
                          <v-text-field
                            class="mt-4"
                            prepend-inner-icon="mdi-comment-outline"
                            height="55"
                            outlined
                            solo
                            flat
                            color="primary"
                            placeholder="Comment ..."
                            v-model="ccomment"
                          ></v-text-field>
                        </v-col>
                      </v-row>
                      <v-btn
                        large
                        depressed
                        color="primary"
                        class="white--text"
                        @click="sendCcomment"
                      >
                        Submit
                        <v-icon class="ml-2">mdi-email-send-outline</v-icon>
                      </v-btn>
                    </v-card-text>
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn text color="red" @click="cinemaDialog = false">Cancel</v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </p>-->
            </div>
          </v-col>
        </v-row>
        <div class="text-h6 mt-3">
          Tags:
          <v-chip color="main" outlined class="ma-2"
            >Software Engineering</v-chip
          >
          <br />
          <v-icon color="main" class="mr-2">mdi-thumb-up-outline</v-icon>2.3k
          Likes
        </div>
        <!-- <v-row class="mx-0 my-3">
          <v-chip
            color="primary"
            outlined
            class="ma-2"
            v-for="actor in item.movie_actors"
            :key="actor.actor.id"
            @click="selectActor(actor)"
          >
            <v-avatar left>
              <v-icon>mdi-account-circle</v-icon>
            </v-avatar>
            {{ actor.actor.title }}
            <v-avatar right class="mr-1">
              <v-icon color="yellow">mdi-star</v-icon>
            </v-avatar>
            ({{ actor.actor.rating }})
          </v-chip>
        </v-row>-->
      </v-container>
      <v-container>
        <div>
          <p class="text-h5">Internship Review</p>
        </div>
        <v-divider />
        <v-tabs color="main">
          <v-tab>Comments</v-tab>
          <!-- <v-tab>Likes</v-tab> -->
          <v-tab-item>
            <v-row align="center" class="my-10 mx-0 pa-3">
              <v-col cols="12">
                By:
                <span class="ml-2 font-weight-bold">Abebe Chala</span>

                <v-icon size="20" color="main" class="ml-10 mr-3"
                  >mdi-clock-outline</v-icon
                >
                <span class="grey--text mr-5">{{
                  new Date().toDateString()
                }}</span>
                <v-btn x-small rounded outlined color="pink" dark>delete</v-btn>
              </v-col>
              <v-col cols="12" class="ml-3">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book.
              </v-col>
            </v-row>
            <v-row align="center" class="my-10 mx-0 pa-3">
              <v-col cols="12">
                By:
                <span class="ml-2 font-weight-bold">Abebe Chala</span>

                <v-icon size="20" color="main" class="ml-10 mr-3"
                  >mdi-clock-outline</v-icon
                >
                <span class="grey--text mr-5">{{
                  new Date().toDateString()
                }}</span>
                <v-btn x-small rounded outlined color="pink" dark>delete</v-btn>
              </v-col>
              <v-col cols="12" class="ml-3">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book.
              </v-col>
            </v-row>
          </v-tab-item>
          <!-- <v-tab-item>likes md</v-tab-item> -->
        </v-tabs>

        <!-- <v-row>
          <v-col cols="12" md="6">
            <v-text-field
              v-model="comment"
              prepend-inner-icon="mdi-comment-outline"
              solo
              height="55"
              flat
              color="primary"
              placeholder="Comment ..."
            />
          </v-col>
        </v-row>-->

        <!-- <v-btn x-large depressed color="primary" class="white--text">
          Submit
          <v-icon class="ml-2">mdi-email-send-outline</v-icon>
        </v-btn>-->
      </v-container>
    </div>
  </div>
</template>

<script>
export default {
  //   mounted() {
  //     this.setup();
  //   },
  //   methods: {
  //     setup() {
  //       console.log(this.item);
  //     },
  //     async rateMovie(rt) {
  //       try {
  //         let variables = {
  //           userId: this.$store.getters["common/id"],
  //           movieid: parseInt(this.$route.params.id),
  //           value: rt
  //         };
  //         let rData = await this.$apollo.mutate({
  //           mutation: rateMovie,
  //           variables
  //         });
  //         console.log(rData);

  //         this.$store.dispatch("movies/updateMovieRating", {
  //           movieid: parseInt(this.$route.params.id),
  //           rating: rData.data.insert_movie_rating_one.movie.rating
  //         });
  //       } catch (err) {
  //         console.log(err);
  //       }
  //     },
  //     async ratePerson(rt) {
  //       try {
  //         if (this.selectedActor.type === "actor") {
  //           let variables = {
  //             userId: this.$store.getters["common/id"],
  //             actorid: this.selectedActor.id,
  //             value: rt
  //           };
  //           let rData = await this.$apollo.mutate({
  //             mutation: rateActor,
  //             variables
  //           });
  //           console.log("returned", rData);

  //           let actIndex = this.item.movie_actors.findIndex(
  //             actor => actor.actor.id === this.selectedActor.id
  //           );
  //           this.item.movie_actors[actIndex].actor.rating =
  //             rData.data.insert_actor_rating_one.actor.rating;

  //           // this.$store.dispatch("movies/updateActorRating", {
  //           //   movieid: parseInt(this.$route.params.id),
  //           //   rating: rData.data.insert_actor_rating_one.actor.rating,
  //           //   actorid: this.selectedActor.actor.id
  //           // });
  //         } else if (this.selectedActor.type === "directors") {
  //           let variables = {
  //             userId: this.$store.getters["common/id"],
  //             directorid: this.selectedActor.id,
  //             value: rt
  //           };
  //           let rData = await this.$apollo.mutate({
  //             mutation: rateDirector,
  //             variables
  //           });
  //           // console.log("returned", rData);
  //           this.item.director.rating =
  //             rData.data.insert_director_rating_one.director.rating;

  //           // this.$store.dispatch("movies/updateDirectorRating", {
  //           //   movieid: parseInt(this.$route.params.id),
  //           //   rating: rData.data.insert_director_rating_one.director.rating
  //           // });
  //         }
  //       } catch (error) {
  //         console.log(error);
  //       }

  //       this.ratingP = 0;
  //     },
  //     async rateCinema(rt) {
  //       try {
  //         let variables = {
  //           userId: this.$store.getters["common/id"],
  //           cinemaid: this.item.cinemaId,
  //           value: rt
  //         };
  //         console.log("var data", variables);

  //         let rData = await this.$apollo.mutate({
  //           mutation: rateCinema,
  //           variables
  //         });
  //         console.log("returned", rData);

  //         this.item.cinema.rating =
  //           rData.data.insert_cinema_rating_one.cinema.rating;

  //         // this.$store.dispatch("movies/updateDirectorRating", {
  //         //   movieid: parseInt(this.$route.params.id),
  //         //   rating: rData.data.insert_director_rating_one.director.rating
  //         // });
  //       } catch (err) {
  //         console.log(err);
  //       }
  //     },
  //     async sendMcomment() {
  //       try {
  //         let variables = {
  //           comment: this.comment,
  //           movieid: parseInt(this.$route.params.id),
  //           userId: this.$store.getters["common/id"]
  //         };
  //         let rData = await this.$apollo.mutate({
  //           mutation: setComment,
  //           variables
  //         });
  //         this.item.movie_comments.push(rData.data.insert_movie_comment_one);
  //         // console.log("comm data", rData);
  //         this.comment = "";
  //       } catch (error) {
  //         console.log(error);
  //       }
  //     },
  //     async sendCcomment() {
  //       try {
  //         let variables = {
  //           comment: this.ccomment,
  //           cinemaid: this.item.cinemaId,
  //           userId: this.$store.getters["common/id"]
  //         };
  //         let rData = await this.$apollo.mutate({
  //           mutation: setCinemaComment,
  //           variables
  //         });

  //         console.log("item ng", this.item);

  //         this.item.cinema.cinema_comments.push(
  //           rData.data.insert_cinema_comment_one
  //         );
  //         // console.log("comm data", rData);
  //       } catch (error) {
  //         console.log(error);
  //       }

  //       this.ccomment = "";
  //     },
  //     onActor() {
  //       this.dialog = true;
  //     },
  //     onCinema() {
  //       this.cinemaDialog = true;
  //     },
  //     selectActor(actor) {
  //       if (!actor.type) {
  //         this.selectedActor = actor.actor;
  //       } else {
  //         this.selectedActor = actor;
  //       }
  //       // this.selectedActor = actor;
  //       console.log("alla", this.selectedActor);

  //       this.dialog = true;
  //     }
  //   },
  props: {
    item: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      items: [{ title: 'Edit' }, { title: 'Delete' }, { title: 'Hide' }],
      ratingM: 0,
      ratingP: 0,
      ratingC: 0,
      dialog: false,
      cinemaDialog: false,
      comment: '',
      ccomment: '',
    }
  },
}
</script>
