<template>
  <v-layout column>
    <v-flex xs12 sm8 md6>
      <v-row class="d-flex align-center justify-center">
        <v-avatar size="150">
          <img class="ma-0" style="border-radius: 50%" src="/kurazlogo.png" />
        </v-avatar>
        <v-col class="font-weight-bold text-center text-h3" cols="12"
          >Kuraz Tech PLC.</v-col
        >
      </v-row>
      <div>
        <p class="main--text text-h5 mt-10 text-capitalize">Latest Posts</p>
      </div>
      <v-divider class="mb-4" />
      <v-row class="my-10">
        <v-col cols="12" md="4">
          <v-hover v-slot="{ hover }">
            <v-card class="mx-auto" max-width="300" :elevation="hover ? 10 : 2">
              <v-img src="/angtovue.png" height="150px" />

              <v-card-title class="text-capitalize"
                >Angular & Vue JS</v-card-title
              >
              <v-card-text>
                <v-row align="center" class="mx-0">
                  <v-rating
                    :value="4.5"
                    background-color="grey"
                    color="yellow accent-4"
                    dense
                    half-increments
                    readonly
                    size="18"
                  />
                  <span class="grey--text caption mr-2">(4.5)</span>
                  <v-spacer />
                  <!-- <v-btn icon x-small class="mr-1">
                  <v-icon>mdi-alarm</v-icon>
                  </v-btn>-->
                  <v-hover v-slot="{ hover }">
                    <v-btn icon x-small>
                      <v-icon v-if="!hover">mdi-heart-outline</v-icon>
                      <v-icon v-if="hover" color="pink">mdi-heart</v-icon>
                    </v-btn>
                  </v-hover>

                  <v-btn icon x-small>
                    <v-icon>mdi-bell-outline</v-icon>
                  </v-btn>
                </v-row>
              </v-card-text>
              <v-card-subtitle class="pb-0 text-capitalize">
                <v-icon color="main" class="mr-3" size="20"
                  >mdi-account-multiple</v-icon
                >samir abdullahi, ...
              </v-card-subtitle>
              <v-card-subtitle class="pt-0 text-capitalize">
                <v-icon color="main" class="mr-3" size="20"
                  >mdi-movie-open-edit</v-icon
                >Abera wako
              </v-card-subtitle>
              <v-row align="center" class="mx-0 pt-2 pb-3 px-4">
                <!-- <v-card-subtitle class="pt-0"> -->
                <v-icon color="main" class="mr-3" size="20">mdi-theater</v-icon>
                <div class="grey--text text-capitalize">Kuraz Tech</div>

                <v-spacer />

                <div>
                  <v-icon color="main" class="mr-1" size="20"
                    >mdi-calendar-month</v-icon
                  >jun 8 2020
                </div>
                <!-- <div v-else>
                <v-chip color="main">Coming Soon</v-chip>
                </div>-->
              </v-row>
            </v-card>
          </v-hover>
        </v-col>
        <v-col cols="12" md="4">
          <v-card class="mx-auto" max-width="300">
            <v-img src="/backend.jpg" height="150px" />

            <v-card-title class="text-capitalize"
              >Backend Developer</v-card-title
            >
            <v-card-text>
              <v-row align="center" class="mx-0">
                <v-rating
                  :value="4.5"
                  background-color="grey"
                  color="yellow accent-4"
                  dense
                  half-increments
                  readonly
                  size="18"
                />
                <span class="grey--text caption mr-2">(4.5)</span>
                <v-spacer />
                <!-- <v-btn icon x-small class="mr-1">
                  <v-icon>mdi-alarm</v-icon>
                </v-btn>-->
                <v-hover v-slot="{ hover }">
                  <v-btn icon x-small>
                    <v-icon v-if="!hover">mdi-heart-outline</v-icon>
                    <v-icon v-if="hover" color="pink">mdi-heart</v-icon>
                  </v-btn>
                </v-hover>

                <v-btn icon x-small>
                  <v-icon>mdi-bell-outline</v-icon>
                </v-btn>
              </v-row>
            </v-card-text>
            <v-card-subtitle class="pb-0 text-capitalize">
              <v-icon color="main" class="mr-3" size="20"
                >mdi-account-multiple</v-icon
              >samir abdullahi, ...
            </v-card-subtitle>
            <v-card-subtitle class="pt-0 text-capitalize">
              <v-icon color="main" class="mr-3" size="20"
                >mdi-movie-open-edit</v-icon
              >Abera wako
            </v-card-subtitle>
            <v-row align="center" class="mx-0 pt-2 pb-3 px-4">
              <!-- <v-card-subtitle class="pt-0"> -->
              <v-icon color="main" class="mr-3" size="20">mdi-theater</v-icon>
              <div class="grey--text text-capitalize">Kuraz Tech</div>

              <v-spacer />

              <div>
                <v-icon color="main" class="mr-1" size="20"
                  >mdi-calendar-month</v-icon
                >jun 8 2020
              </div>
              <!-- <div v-else>
                <v-chip color="main">Coming Soon</v-chip>
              </div>-->
            </v-row>
          </v-card>
        </v-col>
        <v-col cols="12" md="4">
          <v-card class="mx-auto" max-width="300">
            <v-img src="/frontend.jpeg" height="150px" />

            <v-card-title class="text-capitalize"
              >HTML, CSS & JAVASCRIPT</v-card-title
            >
            <v-card-text>
              <v-row align="center" class="mx-0">
                <v-rating
                  :value="4.5"
                  background-color="grey"
                  color="yellow accent-4"
                  dense
                  half-increments
                  readonly
                  size="18"
                />
                <span class="grey--text caption mr-2">(4.5)</span>
                <v-spacer />
                <!-- <v-btn icon x-small class="mr-1">
                  <v-icon>mdi-alarm</v-icon>
                </v-btn>-->
                <v-hover v-slot="{ hover }">
                  <v-btn icon x-small>
                    <v-icon v-if="!hover">mdi-heart-outline</v-icon>
                    <v-icon v-if="hover" color="pink">mdi-heart</v-icon>
                  </v-btn>
                </v-hover>

                <v-btn icon x-small>
                  <v-icon>mdi-bell-outline</v-icon>
                </v-btn>
              </v-row>
            </v-card-text>
            <v-card-subtitle class="pb-0 text-capitalize">
              <v-icon color="main" class="mr-3" size="20"
                >mdi-account-multiple</v-icon
              >samir abdullahi, ...
            </v-card-subtitle>
            <v-card-subtitle class="pt-0 text-capitalize">
              <v-icon color="main" class="mr-3" size="20"
                >mdi-movie-open-edit</v-icon
              >Abera wako
            </v-card-subtitle>
            <v-row align="center" class="mx-0 pt-2 pb-3 px-4">
              <!-- <v-card-subtitle class="pt-0"> -->
              <v-icon color="main" class="mr-3" size="20">mdi-theater</v-icon>
              <div class="grey--text text-capitalize">Kuraz Tech</div>

              <v-spacer />

              <div>
                <v-icon color="main" class="mr-1" size="20"
                  >mdi-calendar-month</v-icon
                >jun 8 2020
              </div>
              <!-- <div v-else>
                <v-chip color="main">Coming Soon</v-chip>
              </div>-->
            </v-row>
          </v-card>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-0 my-12" justify="center">
        <v-pagination v-model="page" color="main" :length="3" circle />
      </v-row>
      <v-card-text>
        <div
          class="
            text-underline text-h4 text-md-h4 text-center text-md-center
            main--text
            font-weight-medium
          "
        >
          <p>Top Rated</p>
        </div>
      </v-card-text>
      <v-row class="my-5">
        <v-col cols="12" md="4">
          <v-card class="mx-auto" max-width="300">
            <v-img src="/dataencode.jpg" height="150px" />

            <v-card-title class="text-capitalize">Data Encoder</v-card-title>
            <v-card-text>
              <v-row align="center" class="mx-0">
                <v-rating
                  :value="4.5"
                  background-color="grey"
                  color="yellow accent-4"
                  dense
                  half-increments
                  readonly
                  size="18"
                />
                <span class="grey--text caption mr-2">(4.5)</span>
                <v-spacer />
                <!-- <v-btn icon x-small class="mr-1">
                  <v-icon>mdi-alarm</v-icon>
                </v-btn>-->
                <v-hover v-slot="{ hover }">
                  <v-btn icon x-small>
                    <v-icon v-if="!hover">mdi-heart-outline</v-icon>
                    <v-icon v-if="hover" color="pink">mdi-heart</v-icon>
                  </v-btn>
                </v-hover>

                <v-btn icon x-small>
                  <v-icon>mdi-bell-outline</v-icon>
                </v-btn>
              </v-row>
            </v-card-text>

            <div class="my-4 text-center text-caption">
              <v-progress-circular
                :rotate="360"
                :size="100"
                :width="5"
                :value="value"
                color="teal"
              >
                {{ values }} % <br />People Liked
              </v-progress-circular>
            </div>

            <v-row align="center" class="mx-0 pt-2 pb-3 px-4">
              <!-- <v-card-subtitle class="pt-0"> -->
              <v-icon color="main" class="mr-3" size="20">mdi-theater</v-icon>
              <div class="grey--text text-capitalize">Kuraz Tech</div>

              <v-spacer />

              <div>
                <v-icon color="main" class="mr-1" size="20"
                  >mdi-calendar-month</v-icon
                >jun 8 2020
              </div>
            </v-row>
          </v-card>
        </v-col>
        <v-col cols="12" md="4">
          <v-card class="mx-auto" max-width="300">
            <v-img src="/godock.png" height="150px" />

            <v-card-title class="text-capitalize"
              >Go Lang & Docker</v-card-title
            >
            <v-card-text>
              <v-row align="center" class="mx-0">
                <v-rating
                  :value="4.5"
                  background-color="grey"
                  color="yellow accent-4"
                  dense
                  half-increments
                  readonly
                  size="18"
                />
                <span class="grey--text caption mr-2">(4.5)</span>
                <v-spacer />
                <!-- <v-btn icon x-small class="mr-1">
                  <v-icon>mdi-alarm</v-icon>
                </v-btn>-->
                <v-hover v-slot="{ hover }">
                  <v-btn icon x-small>
                    <v-icon v-if="!hover">mdi-heart-outline</v-icon>
                    <v-icon v-if="hover" color="pink">mdi-heart</v-icon>
                  </v-btn>
                </v-hover>

                <v-btn icon x-small>
                  <v-icon>mdi-bell-outline</v-icon>
                </v-btn>
              </v-row>
            </v-card-text>

            <div class="my-4 text-center text-caption">
              <v-progress-circular
                :rotate="360"
                :size="100"
                :width="5"
                :value="value"
                color="teal"
              >
                {{ value }} % <br />People Liked
              </v-progress-circular>
            </div>

            <v-row align="center" class="mx-0 pt-2 pb-3 px-4">
              <!-- <v-card-subtitle class="pt-0"> -->
              <v-icon color="main" class="mr-3" size="20">mdi-theater</v-icon>
              <div class="grey--text text-capitalize">Kuraz Tech</div>

              <v-spacer />

              <div>
                <v-icon color="main" class="mr-1" size="20"
                  >mdi-calendar-month</v-icon
                >jun 8 2020
              </div>
            </v-row>
          </v-card>
        </v-col>
        <v-col cols="12" md="4">
          <v-card class="mx-auto" max-width="300">
            <v-img src="/linux.jpg" height="150px" />

            <v-card-title class="text-capitalize">Linux OS</v-card-title>
            <v-card-text>
              <v-row align="center" class="mx-0">
                <v-rating
                  :value="4.5"
                  background-color="grey"
                  color="yellow accent-4"
                  dense
                  half-increments
                  readonly
                  size="18"
                />
                <span class="grey--text caption mr-2">(4.5)</span>
                <v-spacer />
                <!-- <v-btn icon x-small class="mr-1">
                  <v-icon>mdi-alarm</v-icon>
                </v-btn>-->
                <v-hover v-slot="{ hover }">
                  <v-btn icon x-small>
                    <v-icon v-if="!hover">mdi-heart-outline</v-icon>
                    <v-icon v-if="hover" color="pink">mdi-heart</v-icon>
                  </v-btn>
                </v-hover>

                <!-- <v-btn icon x-small>
                  <v-icon>mdi-bell-outline</v-icon>
                </v-btn>-->
              </v-row>
            </v-card-text>

            <div class="my-4 text-center text-caption">
              <v-progress-circular
                :rotate="360"
                :size="100"
                :width="5"
                :value="value"
                color="teal"
              >
                {{ valuess }} % <br />People Liked
              </v-progress-circular>
            </div>

            <v-row align="center" class="mx-0 pt-2 pb-3 px-4">
              <!-- <v-card-subtitle class="pt-0"> -->
              <v-icon color="main" class="mr-3" size="20">mdi-theater</v-icon>
              <div class="grey--text text-capitalize">Kuraz Tech</div>

              <v-spacer />

              <div>
                <v-icon color="main" class="mr-1" size="20"
                  >mdi-calendar-month</v-icon
                >jun 8 2020
              </div>
            </v-row>
          </v-card>
        </v-col>
      </v-row>
      <v-row class="justify-center my-10">
        <v-hover v-slot="{ hover }">
          <v-btn x-large :outlined="hover ? false : true" color="teal" dark>
            Create New Post
            <v-icon>mdi-pencil-outline</v-icon>
          </v-btn>
        </v-hover>
      </v-row>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  layout: 'company',
  data() {
    return {
      page: 1,
      values: 80,
      value: 70,
      valuess: 60,
    }
  },
}
</script>

<style scoped>
.text-underline p {
  display: inline-block;
  position: relative;
}

.text-underline p::after {
  content: '';
  width: 80%;
  height: 7px;
  background: teal;
  position: absolute;
  border-radius: 7px;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -15px;
}
</style>
