body .v-application {
  .text-h1,
  .text-h2,
  .text-h3,
  .text-h4,
  .text-h5,
  .text-h6,
  .display-3,
  .display-2,
  .headline,
  .text-headline,
  .text-title,
  .text-subtitle-1,
  .text-subtitle-2,
  .text-body-1,
  .text-body-2,
  .text-button,
  .text-caption,
  .text-overline {
    font-family: 'Kanit', sans-serif !important;
  }
}

body .v-application {
  font-family: 'Kanit', sans-serif !important;
}
