<template>
  <v-app dark>
    <!-- <v-navigation-drawer v-model="drawer" :fixed="false" :clipped="true" app> -->
    <v-navigation-drawer
      v-model="drawer"
      :mini-variant="miniVariant"
      :clipped="clipped"
      fixed
      app
    >
      <!-- <v-list-item class="pa-4">
        <v-list-item-avatar>
          <v-icon>mdi-account-circle</v-icon>
        </v-list-item-avatar>

        <v-list-item-content>
          <v-list-item-title class="title text-uppercase">
            Kuraz Tech PLC.
          </v-list-item-title>
          <v-list-item-subtitle>kuraztech@gmail.com</v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>-->

      <!-- <v-divider /> -->

      <v-list class="px-4" nav style="height: 100%">
        <v-list-item-group color="main">
          <v-list-item v-for="item in items" :key="item.title" :to="item.to">
            <v-list-item-icon>
              <v-icon color="main">
                {{ item.icon }}
              </v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title class="font-weight-medium">
                {{ item.title }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar color="back" :clipped-left="clipped" fixed app flat>
      <v-btn class="mr-3" fab rounded depressed @click.stop="drawer = !drawer">
        <v-icon>mdi-dots-vertical</v-icon>
      </v-btn>

      <v-toolbar-title class="font-weight-bold teal--text">
        Habel Internship
      </v-toolbar-title>
      <v-spacer />
      <v-btn icon class="mr-2">
        <v-icon size="30" color="main"> mdi-bell-outline </v-icon>
      </v-btn>
      <v-btn color="main" class="white--text" depressed @click.stop>
        <v-icon>mdi-location-exit</v-icon>Logout
      </v-btn>
    </v-app-bar>

    <v-main>
      <v-container>
        <Nuxt />
      </v-container>
    </v-main>
    <!-- <v-footer :absolute="false" app padless> -->
    <!-- <v-footer app padless>
      <v-card class="flex" flat tile>
        <v-card-title class="back text--text">
          <v-row class="mx-16 my-16 pa-4">
            <v-col v-for="item in footerData" :key="item.title" class="text-left" cols="12" md="3">
              <v-row
                class="mb-4 text-capitalize font-weight-black"
                style="font-size:18px"
              >
                {{ item.title }}
              </v-row>

              <v-row
                v-for="list in item.lists"
                :key="list.title"
                class="text-capitalize font-weight-light"
                style="font-size:16px"
              >
                <v-hover v-slot="{ hover }" open-delay="300">
                  <div>
                    <v-icon v-if="hover" color="main" size="16">
                      mdi-arrow-right
                    </v-icon>
                    <p
                      style="display:inline;line-height:36px;cursor:pointer"
                      :class="`${hover ? 'main--text' : 'black--text'}`"
                      @click="onFooterLinkClick(list.to)"
                    >
                      {{ list.title }}
                    </p>
                  </div>
                </v-hover>
              </v-row>
            </v-col>
            <v-col cols="12" md="3">
              <v-row
                class="mb-4 text-capitalize font-weight-black"
                style="font-size:18px"
              >
                shop with us
              </v-row>

              <v-row
                class="text-capitalize font-weight-light text-justify"
                style="font-size:16px"
              >
                HABEL - First Internship Platform In Ethiopia.
              </v-row>
            </v-col>
          </v-row>
        </v-card-title>

        <v-card-text class="py-4 px-16 text--text text-center">
          <div>
            <v-btn v-for="icon in icons" :key="icon" class="mx-4" icon>
              <v-icon size="24px" color="teal">
                {{ icon }}
              </v-icon>
            </v-btn>
          </div>
          <div>
            Terms & policy | Contact Us |
            {{ new Date().getFullYear() }} —
            <strong
              class="text-capitalize"
            >© HABEL - First Internship Platform In Ethiopia.</strong>
          </div>
        </v-card-text>
      </v-card>
    </v-footer>-->
  </v-app>
</template>

<script>
export default {
  middleware: ['unauthenticated'],
  data() {
    return {
      drawer: true,
      miniVariant: false,
      clipped: true,
      fixed: false,
      items: [
        {
          title: 'Dashboard',
          icon: 'mdi-monitor-dashboard',
          to: '/app/posts',
        },
        {
          title: 'Create Post',
          icon: 'mdi-pencil-outline',
          to: '/app/create_internship_post',
        },
        {
          title: 'Review Applications',
          icon: 'mdi-message-draw',
          to: '/app/review__application',
        },
        // { title: 'Drafts', icon: 'mdi-drama-masks', to: '/cinema/drafts' },
        {
          title: 'All Posts',
          icon: 'mdi-post-outline',
          to: '/app/allposts',
        },

        { title: 'Profile', icon: 'mdi-face-profile', to: '/app/profile' },
      ],
      icons: [
        'mdi-facebook',
        'mdi-telegram',
        'mdi-instagram',
        'mdi-twitter',
        'mdi-gmail',
      ],
      footerData: [
        {
          title: 'company',
          lists: [
            { title: 'home', to: '/app/posts' },
            { title: 'our factories', to: '#' },
            { title: 'misson and strategy', to: '#' },
            { title: 'charitable actions', to: '#' },
          ],
        },
        {
          title: 'production',
          lists: [
            { title: 'technology', to: '#' },
            { title: 'products', to: '#' },
            { title: 'quality', to: '#' },
            { title: 'sales geography', to: '#' },
          ],
        },
        {
          title: 'contact us',
          lists: [
            { title: 'address of factories', to: '#' },
            { title: 'dealers', to: '#' },
            { title: 'trading houses', to: '#' },
            { title: 'brand shops', to: '#' },
          ],
        },
      ],
    }
  },
}
</script>

<style scoped>
html {
  overflow-y: hidden;
}
</style>
