<script>
import alert from '~/components/alert.vue'
import selectImage from '~/mixins/selectImage'
import fetchCategory from '~/queries/post/fetchCategory.gql'
import upload from '~/queries/images/upload_files.gql'
import insertPost from '~/queries/post/insertPost.gql'

export default {
  components: {
    alert,
  },
  mixins: [selectImage],
  layout: 'company',
  data() {
    return {
      menu: false,
      clearable: true,
      loading: false,
      valid: false,
      internshipType: ['Remote', 'In Person'],
      paymentDetail: ['Paid', 'Unpaid'],
      main_category: ['Natural Science', 'Social Science'],
      subCategoryNS: ['Engineering', 'Applied Science'],
      category: [],
      sub_bool: true,
      category_bool: true,
      thumbnail: undefined,
      mainCategory: '',
      sub_categoryNS: '',
      category_type: '',
      title: '',
      duration: '',
      quantity: '',
      work_day: '',
      date: '',
      remote: '',
      paid: '',
      description: '',
      minimumRequirement: '',
    }
  },
  head() {
    return {
      title: 'Create Posts',
    }
  },
  methods: {
    async submit() {
      this.loading = true

      const companyId =
        this.$store.getters['user/getUser']['https://hasura.io/jwt/claims'][
          'x-hasura-company-id'
        ]

      if (this.paid === 'Paid') this.paid = true
      else this.paid = false

      if (this.remote === 'Remote') this.remote = true
      else this.remote = false

      try {
        const { data: category } = await this.$apollo.query({
          query: fetchCategory,
          variables: {
            name: this.category_type,
          },
        })

        const result = await this.$apollo.mutate({
          mutation: upload,
          variables: {
            files: this.image,
            folder: 'Habel-Internship/InternshipPost/thumbnail',
          },
        })

        await this.$apollo.mutate({
          mutation: insertPost,
          variables: {
            category_id: category.category[0].id,
            company_id: companyId,
            description: this.description,
            title: this.title,
            expire_date: this.date,
            image_url: result.data.files.secure_urls[0],
            paid: this.paid,
            remote: this.remote,
            minimum_requirement: this.minimumRequirement,
            work_day_in_week: this.work_day,
            quantity_required: this.quantity,
            duration: this.duration,
          },
        })

        this.$store.dispatch('alert/alert', {
          slug: 'create internship post',
          error: 'Internship Post Successfully Created!',
        })
        this.loading = false
      } catch (error) {
        this.loading = false
        this.$store.dispatch('alert/alert', {
          slug: 'create internship post',
          error: error.message,
        })
      }
    },
    populateNS() {
      if (this.mainCategory === 'Social Science') {
        this.subCategoryNS = ['None']
        this.sub_bool = true
        this.category = [
          'Law',
          'Accounting',
          'Economics',
          'Political Science',
          'Journalism',
          'Art',
          'Management',
          'Marketing',
        ]
        this.category_bool = false
      } else if (this.mainCategory === 'Natural Science') {
        this.subCategoryNS = ['Engineering', 'Applied Science']
        this.sub_bool = false
      }
    },
    populateCategory() {
      this.category_bool = false
      if (this.sub_categoryNS === 'Engineering') {
        this.category = [
          'Food Engineering',
          'Mining',
          'Construction Management',
          'Chemical Engineering',
          'Mechanical Engineering',
          'Electrical Engineering',
          'Software Engineering',
          'Computer Engineering',
          'Environmental Engineering',
          'Electromechanical Engineering',
          'Biomedical Engineering',
          'Water Engineering',
          'Computer Science',
          'Material Engineering',
          'Civil Engineering',
          'Architectural engineering',
        ]
      } else if (this.sub_categoryNS === 'Applied Science')
        this.category = [
          'Biotechnology',
          'Industrial Chemistry',
          'Applied Physics',
          'Applied Chemistry',
          'Applied Biology',
          'Applied Mathematics',
          'Forestry',
          'Agriculture',
        ]
    },
  },
}
</script>

<template>
  <div class="div-case grey lighten-5">
    <v-card class="px-10 pt-4 card-display" elevation="0" min-height="650">
      <v-form v-model="valid" @submit.prevent="submit">
        <v-row class="mb-2" justify="center">
          <v-col cols="5">
            <a class="nav-link">
              <v-card-text
                class="
                  font-weight-bold
                  text-h6 text-center
                  pa-8
                  card-title-active
                "
              >
                <v-icon class="mr-3 account-icon-active"
                  >mdi-form-select</v-icon
                >

                Internship Post
              </v-card-text>
            </a>
          </v-col>
        </v-row>
        <v-divider color="teal"></v-divider>
        <v-row class="text-center">
          <v-col>
            <alert
              :key="currentAlert.slug"
              :alert="currentAlert"
              slug="app-alert-create internship post"
              class="mt-3 mb-3"
            />
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="3">
            <p class="mb-5 mt-5 font-weight-medium" justify="center">
              Thumbnail Picture
            </p>
            <v-card min-height="190px" class="grey lighten-5" elevation="0">
              <v-card-text align="center" class="mb-n1 ml-n3">
                <v-icon
                  v-if="previewImage === undefined"
                  size="120"
                  color="teal"
                  >mdi-image</v-icon
                >
                <v-img
                  v-else
                  :src="previewImage"
                  height="120"
                  class="rounded-xl"
                ></v-img>
              </v-card-text>
              <v-file-input
                v-model="thumbnail"
                prepend-icon="mdi-upload"
                accept="image/*"
                label="Upload thumbnail"
                :clearable="clearable"
                clear-icon="mdi-close-box-outline"
                color="teal"
                class="mx-auto ml-n5"
                small-chips
                show-size
                @change="selectedImage"
              >
                <template #selection="{ text }">
                  <v-chip color="teal" dark label small>
                    {{ text }}
                  </v-chip>
                </template>
              </v-file-input>
            </v-card>
          </v-col>
          <v-col cols="9" class="mt-10">
            <v-row>
              <v-col cols="4">
                <v-text-field
                  v-model="title"
                  placeholder="Title"
                  color="teal"
                  label="Title"
                  type="text"
                  filled
                  :rules="rules.required"
                ></v-text-field>
              </v-col>
              <v-col cols="4">
                <v-text-field
                  v-model="duration"
                  filled
                  color="teal"
                  label="Duration (in Month)"
                  placeholder="Duration"
                  type="number"
                  min="1"
                  :rules="rules.required"
                ></v-text-field>
              </v-col>
              <v-col cols="4">
                <v-text-field
                  v-model="quantity"
                  filled
                  color="teal"
                  label="Quantity Required"
                  placeholder="Quantity Required"
                  type="number"
                  min="1"
                  :rules="rules.required"
                ></v-text-field>
              </v-col>
            </v-row>

            <v-row>
              <v-col cols="4">
                <v-text-field
                  v-model="work_day"
                  color="teal"
                  label="Work day in week"
                  placeholder="Work day in week"
                  type="number"
                  filled
                  min="1"
                  max="7"
                  :rules="rules.required"
                ></v-text-field>
              </v-col>
              <v-col cols="4">
                <v-menu
                  ref="menu"
                  v-model="menu"
                  :close-on-content-click="false"
                  :return-value.sync="date"
                  transition="scale-transition"
                  offset-y
                  min-width="auto"
                >
                  <template #activator="{ on, attrs }">
                    <v-text-field
                      label="Expire Date"
                      color="teal"
                      filled
                      :value="date"
                      readonly
                      v-bind="attrs"
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker
                    v-model="date"
                    header-color="teal"
                    no-title
                    scrollable
                  >
                    <v-spacer></v-spacer>
                    <v-btn text color="teal" @click="menu = false">
                      Cancel
                    </v-btn>
                    <v-btn text color="teal" @click="$refs.menu.save(date)">
                      OK
                    </v-btn>
                  </v-date-picker>
                </v-menu>
              </v-col>
              <v-col cols="4">
                <v-select
                  v-model="remote"
                  :items="internshipType"
                  label="Internship Type"
                  filled
                  dense
                  :value="remote"
                  color="teal"
                  :rules="rules.required"
                ></v-select>
              </v-col>
              <v-col cols="4">
                <v-select
                  v-model="paid"
                  :items="paymentDetail"
                  label="Payment Detail"
                  filled
                  :value="paid"
                  color="teal"
                  dense
                  :rules="rules.required"
                ></v-select>
              </v-col>
              <v-col cols="4">
                <v-select
                  v-model="mainCategory"
                  :items="main_category"
                  label="Internship Main Category"
                  filled
                  color="teal"
                  dense
                  :rules="rules.required"
                  @change="populateNS"
                ></v-select>
              </v-col>
              <v-col cols="4">
                <v-select
                  v-model="sub_categoryNS"
                  :items="
                    mainCategory === 'Natural Science' ? subCategoryNS : []
                  "
                  label="Natural Science Category"
                  filled
                  color="teal"
                  dense
                  :disabled="sub_bool"
                  :rules="
                    mainCategory === 'Natural Science' ? rules.required : []
                  "
                  @change="populateCategory"
                ></v-select>
              </v-col>
              <v-col cols="4" offset="4">
                <v-select
                  v-model="category_type"
                  :items="category"
                  label="Internship Category"
                  filled
                  color="teal"
                  dense
                  :disabled="category_bool"
                  :rules="rules.required"
                ></v-select>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12">
                <v-textarea
                  v-model="description"
                  auto-grow
                  filled
                  color="teal"
                  label="Description"
                  rows="1"
                ></v-textarea>
              </v-col>
            </v-row>

            <v-textarea
              v-model="minimumRequirement"
              auto-grow
              filled
              color="teal"
              label="Minimum Requirement"
              rows="3"
            ></v-textarea>
          </v-col>
          <v-col cols="2" offset="10">
            <v-btn
              rounded
              dense
              class="
                teal
                white--text
                mt-3
                mb-6
                ml-15
                px-4
                font-weight-bold
                text-center
              "
              style="text-transform: capitalize"
              large
              type="submit"
              :disabled="!valid"
              :loading="loading"
            >
              Submit</v-btn
            >
          </v-col>
        </v-row>
      </v-form>
    </v-card>
  </div>
</template>

<style scoped>
.card-title-active {
  border-radius: 20px;
  background: teal;
  color: white;
}

.card-title {
  background: white;
}

.account-icon-active {
  color: white !important;
}

.nav-link {
  text-decoration: none;
}

.card-title,
.account-icon {
  color: teal !important;
}
</style>
